.nav-button{
  color: #26547c;
  padding: .5rem;
  max-width: 43px;
}
.nav-button:hover{
  border-radius: 2rem;
  background-color: #26547c;
  color: white;
}
nav{
    z-index: 2;
    padding: 0!important;
    background-color: white!important;
    border-bottom: 1px #e6e6e67a solid;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.527); 
    
}
body{
    background-color: whitesmoke!important;
}
.dashboard-content{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 5vw!important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.logo {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.sidebar {
  padding-top: 5rem;
  z-index: 1;
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #26547c;
  display: block;
}
.sidebar a:hover {
  color: white;
  text-decoration: underline 2px ;
  background-color: #00D2B9ff;
}
main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}
.material-icons,
.icon-text {
  vertical-align: middle;
}  
.material-icons {
  padding-bottom: 3px;
  margin-right: 30px;
}  
#main {
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

.dashboard-card{
  background-color: #FFF;
  margin: 0 1rem;
  padding: 1rem 2rem!important;
  box-shadow: 0 20px 25px rgba(39, 39, 39, 0.26);
}
.dashboard-card-title{
  height: 15%;
}
.balance-card{
  color: #26547c;
  text-align: center;
}
.balance-total{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.balance-ars{
  letter-spacing: .8rem;
  font-weight: 300;
  color: #B2B2B2;
}
.legal-text{
  display: flex;
  font-size: x-small;
  color: #989898;
}

.monedas-card{
  color: #26547c;
  text-align: center;
}
.monedas-list{
  padding: 0 2rem;
  overflow-y: scroll;
  max-height: 450px;
}
.monedas-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 .5rem;
}
.monedas-list-item:hover{
  background-color: #bbbbbb;
  color: white;
  cursor: pointer;
}
.monedas-list-item-active{
  background-color: #00A0A8;
  color: white;
}
.monedas-list-item-active:hover{
  background-color: #00A0A8;
  color: white;
}

.detalle-card{
  color: white;
  background-image: linear-gradient(135deg, rgb(38,84,124), rgb(0,160,168));
}

.balance-detalle{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  margin-top: 3rem;
}

.grid-detalle{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto;
}

.btn-grid-detalle{
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 20px 25px rgba(39, 39, 39, 0.26);
  color: #26547c;
  margin: .7rem;
  min-width: 150px;
}
.btn-grid-detalle:hover{
  background-color: rgb(0,160,168);
  color: #FFF;
}
.btn-grid-detalle-active{
  background-color: #26547c;
  color: #FFF;
  box-shadow: none;
}
.btn-grid-detalle-active:hover{
  background-color: #26547c;
  color: #FFF;
  box-shadow: none;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar{
      display: none;
      width: 0!important;
  }
  body{
      margin-left: 0!important;
  }
  .hidden-mobile{
    display:block!important;
  }
  .hide-on-mobile{
    display:none!important;
  }
  .hidden-desktop{
    display: flex;
  }
  .dashboard-content{
    padding: 1rem 0!important;
  }
  .dashboard-card{
    width: 100%!important;
    margin: 1rem 0!important;
    height: fit-content!important;

  }
  .balance-card{
    max-height: fit-content!important;
    padding: 0 1.5rem!important;
  }
  .balance-total{
    min-height: 200px!important;
    height: 100px!important;
  }
}

/*************************************************************/
@media screen and (min-width: 769px) {
  .hidden-desktop{
    display: none!important;
  }
  .hidden-mobile{
    display: none!important;
  }
}