.nav-button{
  color: #26547c;
  padding: .5rem;
  max-width: 43px;
}
.nav-button:hover{
  border-radius: 2rem;
  background-color: #26547c;
  color: white;
}
nav{
    z-index: 2;
    padding: 0!important;
    background-color: white!important;
    border-bottom: 1px #e6e6e67a solid;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.527); 
    
}
body{
    background-color: whitesmoke!important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
/*************************************************/

.sidebar{
  width: 300px;
  height: 100vh;
  position: fixed!important;
  margin-left: -300px;
  background-color: #000;
  transition: 0.4s;
}
.sidebar-item{
  margin: 0 0!important;
}
.sidebar-link{
  padding: 1.5rem!important;
  font-size: 1.25em!important;
}
.sidebar-link:active,
.sidebar-link:focus,
.sidebar-link:hover{
  background-color: #26547c!important;
  color: #FFF!important;
}


.dashboard-content{
  transition: 0.4s;
  height: 100vh;
  padding: 2rem 5vw!important;
  overflow-x: hidden;
  overflow-y: scroll;
}
.active-sidebar{
  margin-left: 0;
}
.active-content{
  margin-left: 300px!important;
}
#sidebarToggler{
  display: flex;
  transition: 0.4s;
}

#sidebarBtn{
  height: 50px;
  color: #26547c!important
}
#sidebarBtn:hover,
#sidebarBtn:active,
#sidebarBtn:focus{
  background-color: #26547c;
  color: #FFF!important;
}

.dashboard-card{
  background-color: #FFF;
  margin: 0 1rem;
  padding: 1rem 2rem!important;
  box-shadow: 0 20px 25px rgba(39, 39, 39, 0.26);
}
.dashboard-card-title{
  height: 15%;
}
.balance-card{
  color: #26547c;
  text-align: center;
}
.balance-total{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.balance-ars{
  letter-spacing: .8rem;
  font-weight: 300;
  color: #B2B2B2;
}
.legal-text{
  display: flex;
  font-size: x-small;
  color: #989898;
}

.monedas-card{
  color: #26547c;
  text-align: center;
}
.monedas-list{
  padding: 0 2rem;
  overflow-y: scroll;
  max-height: 450px;
}
.monedas-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 .5rem;
}
.monedas-list-item:hover{
  background-color: #bbbbbb;
  color: white;
  cursor: pointer;
}
.monedas-list-item-active{
  background-color: #00A0A8;
  color: white;
}
.monedas-list-item-active:hover{
  background-color: #00A0A8;
  color: white;
}

.detalle-card{
  color: white!important;
  background-image: linear-gradient(135deg, rgb(38,84,124), rgb(0,160,168));
}

.balance-detalle{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  margin-top: 3rem;
}

.grid-detalle{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: auto auto;
}

.btn-grid-detalle{
  text-decoration: none;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 20px 25px rgba(39, 39, 39, 0.26);
  color: #26547c;
  margin: .7rem;
  min-width: 150px;
  background-color: #FFF;
}
.btn-grid-detalle:hover{
  background-color: rgb(0,160,168);
  color: #FFF;
}
.btn-grid-detalle-active{
  background-color: #26547c;
  color: #FFF;
  box-shadow: none;
}
.btn-grid-detalle-active:hover{
  background-color: #26547c;
  color: #FFF;
  box-shadow: none;
}

/***Barra de notificaciones**/
.dropdown-menu{
  padding-top: 0!important;
  position: relative;
}
.dropdown-item{
  padding: 1rem!important;
  background-color: #FFF!important;
  border-bottom: 1px solid #26547c2a!important;
  border: 1px solid #26547c2a!important;
  color: #26547c!important;
}
.dropdown-item:hover{
  background-color: #26547c!important;
  color: #FFF!important;
}
.dropdown-item:nth-child(1){
  border-top: 1px solid #26547c2a;
}


/****************RESPONSIVE******************/

/* @media screen and (max-height: 450px) {
  /* .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  } */


@media screen and (max-width: 768px) {
  #sidebarBtn{
    display: none!important;
  }
  .sidebar{
      display: none!important;
      width: 0!important;
  }
  body{
      padding: 1rem!important;
      margin-left: 0!important;
  }
  .hidden-mobile{
    display:block!important;
  }
  .hide-on-mobile{
    display:none!important;
  }
  .hidden-desktop{
    display: flex;
  }
  .dashboard-title{
    padding-left: 1rem!important;
  }
  .dashboard-title div h1{
    font-size: 1.7rem!important;
  }
  .dashboard-content{
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem 0!important;
  }
  .dashboard-card{
    width: 100%!important;
    margin: 1rem 0!important;
    height: fit-content!important;
    box-shadow: none;
  }
  .balance-card{
    max-height: fit-content!important;
    padding: 0 1.5rem!important;
  }
  .balance-total{
    min-height: 200px!important;
    height: 100px!important;
  }
  td{
    padding: 1rem!important;
  }
}

/*************************************************************/
@media screen and (min-width: 769px) {
  .hidden-desktop{
    display: none!important;
  }
  .hidden-mobile{
    display: none!important;
  }
}